/* ========================================
MAPA FIX
======================================== */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100vh;
}

#content {
    position: relative;
    width: 100%;
    height: calc(100vh - 72px);
}

#map-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

/* MAPBOX CANVAS */

.mapboxgl-map {
    width: 100%;
    height: 100%;
}

.mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
}